.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0e6ff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  color: #f72585;
  text-shadow: 2px 2px #f0e6ff;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 1rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
  background-color: #f72585;
  color: #f0e6ff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #7209b7;
}

.error {
  color: #d90429;
  font-size: 1.2rem;
  margin-top: 20px;
  text-align: center;
  text-shadow: 2px 2px #f0e6ff;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
