.SearchForm {
  display: flex;
  margin-bottom: 1rem;
}

.SearchForm input[type="text"] {
  flex: 1;
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 1rem;
}

.SearchForm button[type="submit"] {
  padding: 0.5rem;
  margin-left: 1rem;
  border: none;
  background-color: #0077ff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.SearchForm button[type="submit"]:hover {
  background-color: #005cb3;
}
